:root {
    --title-color: #212121;
    --text-color: #757575;
    --button-hf-color: #2196F3;
--button-color: #212121;
--button-bg-color: #F5F4FA;
--button-ind-color: #2196F3;



}

.button-second {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
letter-spacing: 0.03em;
color: var(--button-color);
background-color: var(--button-bg-color);
}

.button-second:hover,:focus {
    background-color: var(--button-hf-color)}

.elements > h2 {
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}
.elements > p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--text-color);}
    .main {background-color: black;}
    .title-main {font-family: 'Roboto' sans-serif;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
        letter-spacing: 0.06em;
        color: #FFFFFF;}
        .order {font-family: 'Roboto' sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.9;
            letter-spacing: 0.06em;
            color: #FFFFFF;
        background-color: #2196F3;}
        .title-second {font-family: 'Roboto' sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 1.1;
            color: #212121;}
        .text-title{
            font-family: 'Roboto' sans-serif;
            font-size: 14px;
            line-height: 1.7;
            letter-spacing: 0.03em;
            color: #757575;}
            .title-wwd {font-family: 'Roboto' sans-serif;
                font-weight: 700;
                font-size: 36px;
                line-height: 1.2;
                letter-spacing: 0.03em;
                color: #212121;}
                .title-team {font-family: 'Roboto' sans-serif;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 1.2;
                    letter-spacing: 0.03em;
                    color: #212121;}
.our-team{font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;}
    .about-team{font-family: 'Roboto' sans-serif;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: #757575;}
    .contacts:hover,:focus{color: #2196F3;}